{% load static %}
{% load i18n %}
<nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href=" {% url 'home' %} ">Read<i>it</i>.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu">{% trans 'Menu' %}</span>
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.resolver_match.url_name == 'home' %} active {%endif%}"><a href=" {% url 'home' %} " class="nav-link">{% trans "Home" %}</a></li>
                <li class="nav-item {% if nav_tab == 'technology' %} active {%endif%}"><a href=" {% url 'category' cat='technology' %} " class="nav-link">{% trans "Technology" %}</a></li>
                <li class="nav-item {% if nav_tab == 'design' %} active {%endif%}"><a href=" {% url 'category' cat='design' %} " class="nav-link">{% trans "Design" %}</a></li>
                <li class="nav-item {% if nav_tab == 'tutorial' %} active {%endif%}"><a href=" {% url 'category' cat='tutorial' %} " class="nav-link">{% trans "Tutorial" %}</a></li>
                <li class="nav-item {% if request.resolver_match.url_name == 'contact' %} active {%endif%}"><a href=" {% url 'contact' %} " class="nav-link">{% trans "Contact" %}</a></li>
                <li style="display:flex; align-items:center; max-width: 12rem;">
                    <form action="{% url 'search' %}" class="search-form">
                        <div class="form-group" style="margin-bottom:0 !important;" >
                            <span class="icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="{% trans "Search" %}" name="keyword">
                        </div>
                    </form>
                </li>
                <li class="nav-item" style="position: absolute; right: 100px; top: 20px; font-weight: bold;">
                    {% if user.username %}
                        <div>
                            <p style="color: black;">{% trans 'Welcome' %},<span id="username">{{user.username}}</span></p>
                            <a id="logout" href="{% url 'logout' %}?next={{request.path}}" style="position: absolute; right: 0px; top: 20px;">{% trans 'Logout' %}</a>
                        </div>
                    {% else %}
                        <div>
                            <a id="login" href="{% url 'login' %}?next={{request.path}}" style="margin-right: 10px;">{% trans 'Login' %}</a>
                            <a id="signup" href="{% url 'signup' %}?next={{request.path}}">{% trans 'Sign up' %}</a>
                        </div>
                    {% endif %}
                </li>
                <li>
                    <div style="position: absolute; right: 20px; top: 20px; border-style: none;">
                        <form action="{% url 'set_language' %}" method="POST">{% csrf_token %}
                            <input type="hidden" name="next" value="{{ redirect_to }}">
                            <select name="language" onchange="this.form.submit()">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% get_current_language as LANGUAGE_CODE %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {% comment %} {{ language.name_local }}{% endcomment %} {{ language.code }}
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
{% if request.resolver_match.url_name == 'category' %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(' {% static 'images/bg_1.jpg' %} ');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">{% trans nav_tab|title %}</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href=" {% url 'home' %} ">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href=" {% url 'home' %} ">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="hero-wrap js-fullheight" style="background-image: url(' {% static 'images/bg_1.jpg' %} ');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-12 ftco-animate">
                <h2 class="subheading">{% trans 'Hello! Welcome to' %}</h2>
                <h1 class="mb-4 mb-md-0">Readit blog</h1>
                <div class="row">
                    <div class="col-md-7">
                        <div class="text">
                            {% comment %} <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p> {% endcomment %}
                            <div class="mouse">
                                <a href="#blockContent" class="mouse-icon">
                                <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}